<nav class="flex items-center min-h-[4rem] bg-[#D0C7E6] justify-around">
  <h1>Youth</h1>
  <ul class="flex gap-x-4 uppercase">
    <li>Home</li>
    <li>About</li>
    <li>Products</li>
    <li>Contacts</li>
  </ul>
</nav>
