---
import { ButtonReturn } from "./ButtonReturn";
import img9 from "../images/img9.jpg";
import { Picture } from "astro:assets";
---

<section class="flex justify-center items-center gap-[9rem]">
  <article class="flex flex-col items-start gap-[1rem]">
    <span class="text-gray-600 text-[23px]">Lingerie Shop</span>
    <h3 class="text-[28px]">Lorem ipsum dolor sit amet</h3>
    <p class="text-[17px]">
      Lorem ipsum dolor sit amet, consectetur <br /> adipiscing elit. Amet,
      turpis suspendisse ut <br /> semper ipsum enim.
    </p>
    <ButtonReturn name="Order now" />
  </article>
  <article>
    <Picture src={img9} alt="Description" />
  </article>
</section>
